.background {
    background-image: url("https://thumbs.gfycat.com/AmusedCreativeHornet-size_restricted.gif");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 1930px;
    background-attachment: fixed;
}

.card {
    border: 5px solid rgb(57, 216, 25);
    background-color: #2ecc0e;
    color: black;
    text-shadow: 0 0 10px #d5e21f;
}

.image {
    border: 4px solid #d5e21f;
}

@media screen and (min-width: 1400px) {
    .card{
        width: 20%;
    }
}